@import '../../themes/theme';

.mind-node-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 150ms ease-in-out;

  &-icon {
    font-size: 12px;
  }
}
