@import '../../themes/theme';

.hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.mind-node {
  &-container {
    position: relative;
    padding: 8px;
    padding-left: 4px;
    border: 1px solid transparent;
    border-left-width: 4px;
    border-radius: 4px;
    transition: all 100ms ease-in-out;

    &:hover {
      .mind-node-edit {
        opacity: 1;
      }
    }
  }

  &-shadow {
    .hover;
  }

  &-header {
    display: flex;
  }

  &-arrow {
    color: @text-color-secondary;
    cursor: pointer;
  }

  &-title {
    margin: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &-expand {
      display: -webkit-box;
      white-space: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  &-unfolded {
    margin-left: 4px;
  }

  &-desc {
    display: -webkit-box;
    margin-top: 4px;
    overflow: hidden;
    color: @text-color-secondary;
    font-size: 12px;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &-references {
    margin-top: 8px;
    color: @text-color-secondary;
    font-size: 12px;

    &-dot {
      width: 4px;
      height: 4px;
      margin-right: 8px;
      margin-left: 4px;
      background: @text-color-third;
      border-radius: 100%;
    }
    &-item {
      display: flex;
      align-items: center;
      margin-top: 4px;
      color: @text-color-secondary;
    }
  }

  &-edit {
    position: absolute;
    top: 10px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
  }
}
