.avx-user-panel-footer {
  &-divider {
    margin: 8px 0;
    padding: 0 16px;
    color: hsla(0, 0%, 0%, 0.25) !important;
    font-size: 14px !important;
  }

  &-other {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    font-size: 12px;
    line-height: 22px;
  }

  &-register {
    margin-top: 8px;
    font-size: 16px;
  }
}
