.avx-asset-gallery {
  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &-masonry {
    column-count: 4;
    column-gap: 0;

    @media (max-width: 400px) {
      column-count: 2;
    }

    @media (max-width: 1200px) {
      column-count: 3;
    }
  }

  &-card {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  }

  &-item {
    box-sizing: border-box;
    padding: 8px;
    break-inside: avoid;
  }

  &-image {
    width: 100%;
    height: 100%;
    cursor: pointer;

    &-ctn {
      position: relative;
    }

    &-type {
      position: absolute;
      top: 8px;
      left: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background: white;
      border-radius: 2px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
    }
  }

  &-link {
    padding: 4px 0;
    color: rgba(0, 0, 0, 0.45);
  }

  .ant-card-actions {
    background: #fafafa;
  }
}
